main {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px; }

body {
  background-image: url(https://w0.peakpx.com/wallpaper/861/501/HD-wallpaper-ray-ban-brands-logo.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

h2 {
  color: brown;
  padding: 50px;
  margin: 50px;
  text-align: center; }

p {
  text-align: center;
  padding: 30px; }

h1 {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 100px; }
